@font-face{
    font-family: "asaraf";
    src: url(../asste/Roboto/Roboto-Italic.ttf);
}
body{
    font-family: "asaraf";
}

.img{
    background-image: url("./asste/pro2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
   
}
.p{
    height: 100vh;
    align-items: center;
}
.nice{
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.fonds{
    font-family: Fantasy;
}
.wel{
    font-family: initial;
}
.icon{
    font-size: 65px;
    
}
.rownde{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.bg{
    background-color: #f8f9fa;
}
.hover:hover{
    color: rgb(193, 193, 163) !important;
}
.rounded-6{
    width: 180px;
    height: 180px;
    color: white;
    border-radius: 100%;
    background-color: #ffc800;
}
.hh{    
    width: 10px;
    height:10px;
    padding: 8px;
    border-radius: 30px;
    display: flex;
}
.img1{
    height: 100%;
    width: 100%;
}
.img2{
    background-color: #1b1c1d;
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}
.ho:hover{
    color: yellow !important;
}
.con{
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 210);
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: transform 0.3s;
}
.con:hover{
     transform: rotate(360deg);
     background-color: white;
     color: white;
    
}


.wh{
    background-color: yellow;
    color: black;
    border: none;
    border-radius: unset;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;

  }
  .wh:hover{
    color: white;
    background: linear-gradient(to left,black 50%,yellow 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 1s ease;
  } 
  input{
    color: white  !important;
  }
textarea{
    background-color: #1b1c1d  !important;
}
  ::placeholder{
    color: white !important;
  }
  .hov{
    border: none;
    outline: none;
    border-radius: 0 10px 0 10px;
}

.active,
.hov:hover:hover{
    background-color: #ffc800;
    color: black;
}
@media (max-width:576px) {
    .madia{
        text-align: center;
        width: 80%;
    }
    .nice{
        font-size: 25px;
    }
}